@import "tailwindcss";

body{
    background-color: black;
    overflow-x: hidden;
}

/* hide scrollbar only on large screens */
@media (min-width: 640px) {
  .hide-scrollbar-lg::-webkit-scrollbar {
    display: none; /* hide scrollbar visually */
  }
  .hide-scrollbar-lg {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}